{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <h1 style="font-size: 25px;font-family: 'Arial Rounded MT Bold'; margin-left: 5px;font-weight: bold">
        Bienvenue sur l'interface employé<br><br><br>
        Vous pouvez <li>créer des formations<br><li>en supprimer<br><li>gérer les inscriptions
    </h1>


{% endblock %}
