{% extends 'baseConnected.html.twig' %}

{% block body %}
    <h1 style="font-size: 25px;font-family: 'Arial Rounded MT Bold'; margin-left: 5px;font-weight: bold">
        Bienvenue sur l'interface employé lambda<br><br><br>
        Vous pouvez <li>visualiser des formations<br><li>s'y inscrire
    </h1>
{% endblock %}

