{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center;font-family: 'Arial Rounded MT Bold'">

    <h1>Site de gestion des formations</h1><br><br>
    <h3>Bienvenue sur le site de gestion de vos formations. Connectez vous et découvrez les formations faites pour vous</h3>

    </div>
{% endblock %}
