
<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% block header %}
        <nav class = "navbar bg-body-tertiary">
            <form class = "container-fluid justify-content-start">
                <h1 style="font-size: 25px;font-family: 'Arial Rounded MT Bold'; margin-left: 5px;font-weight: bold;">
                    Entreprise Pargola
                </h1>

                <div class="btn-group" role="group" aria-label="Default button group" style="margin-right: auto; margin-left: auto">
                    <a type="button" class="btn btn-outline-dark" href="empCreateFormation">Créer une formation</a>
                    <a type="button" class="btn btn-outline-dark" href="{{ path('app_emp_gerer_inscription') }}">Gérer les demandes</a>
                    <a type="button" class="btn btn-outline-dark" href="{{ path('app_recherche_rechinscription') }}">Chercher une inscription</a>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
                <a class = "btn btn-outline-danger me-2" type="button" style="margin-left: auto" href="{{ path('app_login_deconnexion') }}">Déconnexion</a>
            </form>
        </nav><br>
{% endblock %}

{% block body %}

{% endblock %}
